body {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: aqua;
  height: 68px;
  margin: 5px;
  vertical-align: top;
  }

.main {
  background-color: lightblue;
  height: 300px;
  margin: 5px;
}

.logo {
  width: 13%;
  height: 100%;
  margin: 0px;
}

.coplogo1 {

display:inline-block;
vertical-align: top;
font-size: 53px;
}

.coplogo2{

  display: inline-block;
  font-size: 65px;
  margin-left: 3px;
  line-height: 70px;
}

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: ;
  font-style: normal;
}

.beau-rivage-regular {
  font-family: "Beau Rivage";
  font-weight: 150;
  font-style: normal;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 500;
  font-style: normal;
}
